


nz-content {
    background-image: url('../assets/images/bg.jpg')  ;
    background-size: 4096px 2160px;
    background-repeat: no-repeat;
}
.content {
    height: 2080px;
}
.footer{
    height: 80px;
}

