
<nz-layout>
  <nz-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
   
    <div class="footer">
      <app-bottombar></app-bottombar>
    </div>
  </nz-content>
</nz-layout>