.FAMSUN-border {
    background:inherit;
    background-color: rgba(16,54,119,1);
    box-sizing: border-box;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(121,121,121,1);
    box-shadow: none;
}