$text-color: #D7D7D7; //标题文本颜色
$text-color-secondary: #AEAEAE; //次级文本颜色
$font-color-base:#AAAA; //文本基本色
$FAMSUN-blue: rgba(0, 104, 183, 1); // 品牌主色
$FAMSUN-deepblue: rgba(0, 68, 113, 1); // 品牌深蓝色
$FAMSUN-shallowblue: rgba(63, 89, 224, 1); // 品牌浅蓝色
$FAMSUN-gray: rgba(189, 203, 201); // 品牌灰色
$load-running-color:#03b715; // 负载运行颜色
$noLoad-running-color:#027db4; // 空载运行颜色
$downtime-color:#f59a23; // 宕机状态颜色
$maintaince-color:#d9001b; // 维护状态颜色

