<div class="row" style="top: 237px;left: 97px;">
  <div class="FAMSUN-border displayItem" style="width:1010px;">
    <div class="itemTitle">
      <span>Power Consumption</span>
    </div>
    <div class="itemContent">
        <app-power-consume [paramsInfo]="powerData" [outputData]="powerChartData"></app-power-consume>
    </div>
  </div>
  <div class="FAMSUN-border displayItem" style="width:1810px;margin-left: 50px;">
    <div class="itemTitle">
      <span>Equipment Status</span>
    </div>
    <div class="itemContent">
       
    </div>
  </div>
  <div class="FAMSUN-border displayItem" style="width:1010px;margin-left: 50px;">
    <div class="itemTitle">
      <span>Equipment Run-time</span>
    </div>
    <div class="itemContent">
       <app-equipment-runtime [outputData]="runTimeChartData"></app-equipment-runtime>
    </div>
  </div>
</div>
<div class="row" style="top: 320px;left: 97px;">
  <div class="FAMSUN-border displayItem" style="width:946px;">
    <div class="itemTitle">
      <span>Gas Consumption</span>
    </div>
    <div class="narrow_itemContent">
       <app-gas-consumption [paramsInfo]="gasData" [outputData]="gasChartData"></app-gas-consumption>
    </div>
  </div>
  <div class="FAMSUN-border displayItem" style="width:946px;margin-left: 50px;">
    <div class="itemTitle">
      <span>Key Issues</span>
    </div>
    <div class="narrow_itemContent">
       <app-key-issues [eventRecords]="issueInfos"></app-key-issues>
    </div>
  </div>
  <div class="FAMSUN-border displayItem" style="width:946px;margin-left: 50px;">
    <div class="itemTitle">
      <span>Yield Statistics</span>
    </div>
    <div class="narrow_itemContent">
       <app-yield-statistics [paramsInfo]="yieldData" [outputData]="yieldlChartData"></app-yield-statistics>
    </div>
  </div>
  <div class="FAMSUN-border displayItem" style="width:946px;margin-left: 50px;">
    <div class="itemTitle">
      <span>Production Schedule</span>
    </div>
    <div class="narrow_itemContent">
       
    </div>
  </div>
</div>
  
