@import '../../assets/style/variable.scss';

.container {
  display: flex;
  flex-direction: row;
}

.row {
  height: 880px;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;

}

.displayItem {
  height: 100%;
 
}

.itemTitle {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  color: --text-color;
  padding-top: 20px;
}

.itemContent {
  width: 898px;
  margin-left: 51px;
}

.narrow_itemContent{
  width: 838px;
  margin-left: 51px;
}
