<div class="div_item">

  <span class="span_line" style="margin-right: 10px;text-decoration:underline;">Help</span>

  <span class="span_line" style="margin-right: 10px;text-decoration:underline;">Privacy</span>

  <span class="span_line" style="text-decoration:underline;">Terms of Service</span>

</div>
<div class="div_item">
  <span>copyright@2019 江苏丰尚农牧装备有限公司. All rights reserved</span>
</div>
