@import '../../../assets/style/variable.scss';
.container {
   display: flex;
   flex-direction: row;
}
.div_item {
    text-align: center;
    height: 30px;
    line-height: 30px;
}
span {
    font-weight: 400;
    font-style:normal;
    font-size: 14px;
    color:$text-color-secondary;
}
.span_line {
    text-decoration: underline;
}
