@import '../../../assets/style/variable.scss';

.card {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  padding-top: 15px;
}

.cardrow {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  color: $font-color-base;
  background-color: transparent;
}
