<div class="FAMSUN-border card" style="background-color: rgba(41, 90, 159, 1);">
  <div class="cardrow" *ngFor="let item of params">
    <div style="width:60%;text-align: left;padding-left: 5px;">{{item.key}}</div>
    <div style="width:20%;text-align: right;">{{item.value}}</div>
    <div style="width:20%;text-align: right;padding-right: 5px;">{{item.unit}}</div>
  </div>
</div>
