/* You can add global styles to this file, and also import other style files */
@import "./assets/style/layout.scss";
html,
body {
    font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    color: #D7D7D7; 
}