<ul>
  <ng-container *ngFor="let item of records;let i=index;">
    <li
    [ngClass]="{'success':item.logLevel===1,'info':item.logLevel===2,'error':item.logLevel===3,'warn':item.logLevel===4}"
      [style.width.px]="infoWidth">
      <p class="record">
        <span [ngSwitch]="item.logLevel">
          <i nz-icon nzType="check" nzTheme="outline" *ngSwitchCase="1" style="color:rgb(81, 163, 81);"></i>
          <i nz-icon nzType="info" nzTheme="outline" *ngSwitchCase="2" style="color:rgb(81, 163, 81);"></i>
          <i nz-icon nzType="info" nzTheme="outline" *ngSwitchCase="3" style="color:rgb(248, 148, 6);"></i>
          <i nz-icon nzType="warning" nzTheme="outline" *ngSwitchCase="4" style="color:rgb(189, 54, 47);"></i>
        </span>
        {{item.content}} {{item.occurTime | date : 'yyyy-MM-dd HH:mm'}}
      </p>
    </li>
  </ng-container>

</ul>
