.success{
  
    height:58px;
    background-color: rgba(247, 255, 238, 1);
    border-color:rgba(183, 235, 143, 1);
    border-radius: 4px;
    font-size: 20px;
    font-style:normal;
    font-weight:400;
    color: rgba(0, 0, 0, 0.647058823529412);
    text-align: left;
    line-height: 22px;
}

.error {
   
    height:58px;
    background-color: rgba(255, 242, 241, 1);
    border-color:rgba(255, 163, 158, 1);
    border-radius: 4px;
    font-size: 20px;
    font-style:normal;
    font-weight:400;
    color: rgba(0, 0, 0, 0.647058823529412);
    text-align: left;
    line-height: 22px;
}

.warn {
    
    height:58px;
    background-color: rgba(189, 204, 201, 1);
    border-color:rgba(255, 229, 143, 1);
    border-radius: 4px;
    font-size: 20px;
    font-style:normal;
    font-weight:400;
    color: rgba(0, 0, 0, 0.647058823529412);
    text-align: left;
    line-height: 22px;
}

.info{
    
    height:58px;
    background-color: rgba(147, 192, 231, 1);
    border-color:rgba(145, 213, 255, 1);
    border-radius: 4px;
    font-size: 20px;
    font-style:normal;
    font-weight:400;
    color: rgba(0, 0, 0, 0.647058823529412);
    text-align: left;
    line-height: 22px;
}


ul{
    padding-top: 0.7%;
    position: absolute;
    height: 800px;
    width: 844px;
    padding-inline-start: 0px;
}

li{
    list-style:none;
    margin-bottom: 20px;
}
 .record {
  width: 100%;
  overflow: hidden;
  padding-top: 20px;
  padding-left: 5px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.647058823529412);
  font-weight: normal;
  font-size: 20px;
}

 .date {
  position: absolute;
  right: 8%;
  top: -2%;
}

